.header {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  padding: 10px;
}

.header_left {
  align-items: center;
  display: flex;
}

.header_left_logo {
  padding-left: 5px;
  padding-right: 2px;
}

.header_left_brand {
  align-items: center;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-family: 'YouTube Sans';
  /* color: black; */
  font-weight: bold;
}

.dark {
  color: #fff;
}

.light {
  color: #333;
}

.header_search {
  display: flex;
  align-items: center;
}

.header_search_bar {
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-around;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.header_search input {
  outline: none;
  /* border-radius: 10px; */
  border: none;
  background-color: transparent;
  width: 80%;
}

.header_search_bar .search_icon {
  object-fit: contain;
  border-left: 1px solid black;
  background-color: rgb(101, 100, 100);
  padding-right: 10px;
  padding-left: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.icon_link {
  padding-right: 10px;
}
